// colores

$negro: #000;
$blanco: #FFF;
$azul: #004992;
$azul2: #004990;
$verde: #99c319;
$grisClaro: #efefef;
$grisOscuro: #424242;
$grisTextos: #565656;

$tipo: 'Source Sans Pro', sans-serif;

@mixin flexo{
	@include display-flex(flex);
	@include align-items(flex-end);
	@include justify-content(center);
}

@mixin btn-rnd {
		padding: 8px 12px;
		border-radius: 999rem;
		bottom: 0;
		letter-spacing: .6;
		font-size: 1rem;
}

@mixin flexo2{
	@include display-flex(flex);
	@include align-items(start);
	@include justify-content(center);
}

@mixin flexo3{
	@include display-flex(flex);
	@include align-items(center);
	@include justify-content(center);
}

@mixin wyh {
	width: 100%;
	height: auto;
}

@mixin transicion($val){
	-webkit-transition: $val;
	-moz-transition: $val;
	-o-transition: $val;
	transition: $val;
}
