@import "mixins.scss";
@import "compass/css3";

@media only screen and (min-width: 1440px) {

}
@media only screen and (max-width: 1440px) { // Laptop L

}
@media only screen and (max-width: 1200px) { // Laptop L
  .wrapNosFoToggler {
    .pqFotos{
      @include flexo2;
        .items{
          width: 32%;
          img{
            width: 100%;
          }
        }
      }
    }
}

@media only screen and (max-width: 1024px) { // Laptop
  header nav ul li a, #block-block-10 .navServicios ul li a{
    font-size: 11px!important;
  }
  header{
    display: block!important;
  }
}
@media (max-width: 991px) {
  .form-text,
  .form-textarea,
  .block-superfish select,
  .block-search .form-submit {
    background-image: none;
  }
}
@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 768px) {
  header nav ul li a{
    font-size: 15px!important;
  }
  #block-block-10{
    display: none;
  }

  .node-type-notas-de-interes{
    .field-name-body{
      img{
        max-width: 380px;
      }
    }
  }

}

@media only screen and (min-width: 768px){
  .iconosValores{
    figure:nth-child(1){
      border-right: solid 2px $grisOscuro;
    }
  }
}

@media only screen and (min-width: 480px){
  .menuMovil{
    display: none;
  }
}

@media only screen and (max-width: 480px){

  p{
    font-size: 15px!important;
  }

  .bullets{
    margin-bottom: 0!important;
    .icons{
      article{
        width: 100%!important;
        margin: 0!important;
        @include flexo3;
        figure{
          width: 24%;
        }
        p{
          width: 74%;
        }
      }
    }
  }

  .videopresentacion{
    p{
      font-size: 20px!important;
      line-height: 27px!important;
    }
  }

  .view-block-notas-de-interes-frontpage,
  .view-block-proyectos-en-fornt-page{
    .view-content{
      display: block!important;
      .item-proyecto, .item-notas{
          width: 100%!important;
      }
    }
  }

  section.frontpagedeg .linkrevista .revmuestra figure img{
    float: inherit!important;
    margin: 0 auto;
  }

  #block-block-7 {
    .wrapBotonesFooter{
      .btn-default{
       margin-bottom: 12px!important;
     }
    }
  }

  #block-block-7 {
    .wrapBotonesFooter{
      .btn-default{
        margin: 3px;
      }
    }
  }

  .menuMovil{
    display: block!important;
  }
  .menuDesktop{
    display: none!important;
  }

  .view-proyectos,
  .view-block-proyectos-en-fornt-page,
  .view-block-notas-de-interes-frontpage,
  .view-notas-de-interes,
  .view-proyectos-similares {
    a:nth-child(1){
      width: 108px;
      float: left;
    }
    a:nth-child(2){
      font-size: 1em!important;
      width: 60%;
      padding: 0!important;
    }
    a:nth-child(2),
    .taxo-proyecto{
      margin-left: 112px;
    }
    .item-proyecto, .item-notas{
      width: 100%!important;
      border-bottom: 1px solid $grisClaro;
      padding-bottom: 16px;
      position: relative;
      &:before{
        background: url('/sites/default/files/arrow-go.jpg');
        content:"";
        width: 15px;
        height: 35px;
        position: absolute;
        right: 8px;
      }
    }
    .item-notas{
      min-height: 85px;
      a:nth-child(2){
        font-size: 0.85em !important;
        width: 57%!important;
        padding: 0 !important;
      }
      span{
        margin-left: 12px!important;
      }
    }
  }

  .view-proyectos-similares {
    .btn-default{
      border-radius:18px!important;
    }
  }

  .view-notas-de-interes {
    .view-content{
      display: block!important;
      .item-notas{
        min-height: 94px;
        padding: 8px 0!important;
        @include flexo3;
        @include flex-wrap(wrap);
        a:nth-child(2){
          margin-left: 10px;
        }
        a:nth-child(3){
          display: none;
        }
      }
    }
  }

  .view-block-proyectos-en-fornt-page{
    .view-footer{
      h4{
        a{
          border-radius: 999rem;
          bottom: 0;
          letter-spacing: .6;
          font-size: 1rem;
          background: $azul!important;
          color: $blanco!important;
          padding: 0.72rem 19px;
          white-space: nowrap;
        }
      }
    }
  }

  .section.videopresentacion p{
    font-size: 20px!important;
    line-height: 28px!important;
  }

  .region-bottom-content{
    .block-views{
      h2{
        margin-bottom: 20px;
      }
    }
  }

  .subfooter-area{
    .block-views{
      h2{
        margin-left: 17px;
      }
    }
  }

  .logosfooter{
    .container{
      figure{
        img{
          width: 50px!important;
        }
      }
    }
  }

  .region-footer .block-views{
    margin-top: 0!important;
  }
  #subfooter{
    padding-top: 0!important;
  }

  #block-block-15{
    article{
      padding: 20px 0 30px 0!important;
    }
    .iconos-mantenimientos{
      display: block!important;
      .item{
        width: 100%!important;
        margin-bottom: 20px;
        figure, h3{
          display: inline-block;
          vertical-align: middle;
        }
        h3{
          margin-left: 12px;
          font-size: 18px;
        }
      }
    }
  }

  #block-block-17{
    iframe{
      margin-top: 20px;
    }
  }

  .iconosValores{
    display: block!important;
    figure{
      margin: 0 9px!important;
      img{
        max-width: 42px;
        margin: 0 auto 20px auto !important;
      }
    }
    figure:nth-child(1){
      width: 100%!important;
      margin-bottom: 20px;
      img{
        min-width: 100px;
      }
    }
  }

  .svgCirculoCalidad{
    svg{
      height: 300px!important;
    }
  }

  .wrapServiceIcons{
    h2{
      font-size: 1.2em!important;
    }
    article{
        figure{
          max-width: inherit!important;
          img, figcaption{
            display: inline-block;
            vertical-align: middle;
          }
          img{
            max-width: 90px;
          }
          figcaption{
            margin-left: 12px;
          }
        }
    }
  }

  .node-proyectos {
      .grupo-titulo-duracion {
          .grupo-icono-title,
          .grupo-icono-duracion{
            display: block!important;
              border-right: none!important;
              width: 100%!important;
              margin-bottom: 20px;
              text-align: center;
              .field-name-field-icono-duracion{
                .field-item{
                  img{
                    margin: 0 auto!important;
                  }
                }
              }
              .field-name-field-duracion{
                margin-top: 12px;
              }
              .field-name-title{
                h2{
                  margin: 12px 0!important;
                }
              }
          }
      }
  }
  .node-proyectos .grupo-titulo-duracion .grupo-icono-title .field-name-field-icono-proyecto{
    float: inherit!important;
    img{
      margin: 0 auto!important;
    }
  }
  .node-proyectos .grupo-titulo-duracion .grupo-icono-title .field-name-field-proyecto-taxo{
    margin-left: inherit!important;
  }

  .node-type-notas-de-interes{
    .field-name-body{
      img{
        max-width: 240px;
      }
    }
  }

  .page-trabaje-con-nosotros{
    .puesto{
      width: 100%!important;
      .views-field-field-icono img{
        width: 50px;
      }
    }
  }

}

@media only screen and (max-width: 320px){

}
